.my-img {
	width: 235px;
	height: 40px;
}
.finding-health {
	width: inherit;
}
.my-icons {
	float: right;
	display: inline-block;
}
.my-icons li {
	list-style-type: none;
	float: left;
	padding-left: 20px;
	margin-top: 2px;
}
.my-icons li a { 
	background-color: rgba(189, 217, 255, 0.6);
	border-radius: 40px;
	padding: 10px 18px;
	font-size: 25px;
	color: #E3E0FC;
}
.my-icons li a:hover {
	background-color: rgba(189, 217, 255, 0.8);
	color: rgb(178,163,255);
}
.my-twitter {
	padding: 10px 15px !important;
}
.my-list {
	float: right;
	padding-right: 180px;
}
.my-list li {
	list-style-type: none;
	padding: 10px 0;
	letter-spacing: 1px;
	font-weight: lighter;
}
.email-box {
	width: 80%;
	margin-top: 30px;
	// height: 210px;
	background-color: white;
	border-radius: 3px;
	padding: 30px !important;
	color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
}
.btn-lg {
	margin-top: 15px;
	color: white !important;
	font-size: 15px !important;
	border: none !important;
	border-radius: 2px !important;
	padding: 15px 16px !important;
	background: -webkit-linear-gradient(left, rgba(178,163,255,.8), rgba(149,206,236,.8)) !important;
}
.btn-lg:hover {
	background: -webkit-linear-gradient(left, rgba(178,163,255,1), rgba(149,206,236,1)) !important;
}
input.form-control {
	padding: 23px 12px !important;
}

@media only screen and (max-width: 991px) {
    .finding-health h1{
    	display: inline-block;
    	padding: 0 !important;
    }
    .finding-health ul{
    	margin-top: 20px;
    	padding: 0 !important;
    }
}
